<div class="container">
  <header>
    <img class="main--logo" width="300" alt="Angular Logo" src="assets/logo.png">
    <h2 class="slogan"> Seu pet merece! </h2>
  </header>
  <main class="content">

    <input class="input" type="email" placeholder="email"> <br>

    <input class="input" type="password" placeholder="senha"> <br>
    <button class="button button__login">entrar</button>

    

  </main>
  <footer>
      <button class="button button__register"> Quero me cadastrar! </button> <br>
      <button class="button button__care"> Sou um cuidador </button> <br>
  </footer>
</div>

