.container {
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh);
    background-color: #baccd1;
    padding: 3rem;
    font-weight: bold;
}
header {
    height: 2.7rem;
    background-color: #0e5f76;
    color: #baccd1;
    button {
        width: inherit;
        height: inherit;
        padding: inherit;
        margin: inherit;
        background: none;
        border: none;
    }
    i {
        padding: .7rem;
        color: #baccd1;
        display: inline-block;
    }
    h1 {
        display: inline-block;
    }
    div {
        display: inline-block;
        position: relative;
        bottom: .3rem;
        width: 80vw;
        text-align: center;
    }
}
.container--header {
    margin-bottom: 2rem;
}
.form-group {
    text-align: left;
}
.form-control{
    margin: .5rem 0;
}
.btn {
    margin-top: 1rem;
    background-color: #0e5f76;
    border-color: #052838;
}
.btn-success[disabled]:hover {
    background-color: #527680;
    border-color: #2f3c42;
}
.btn-success:active {
    background-color: #052838;
}
.btn-success:focus {
    background-color: #052838;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
border-left: 5px solid #a94442; /* red */
}